@import 'Base.css';
@import 'Chassis.css';
@import 'Bay.css';
@import 'LEDs.css';

body {
    background-color: var(--page-bg-color);
    color: #ffffff;
    margin: 0;
    padding: 10px;
    font-family: "Calibri", "Candara", "Segoe UI", Optima, Arial, sans-serif;
    overflow: visible;
}
#dashboard-wrapper {
    width: fit-content;
    margin: 0 auto;
}
#canvas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: visible;
}

